body {
    background-color: rgb(174, 220, 255);
    font-family: Arial;
    margin-top: 50px;
}

.Cadastro {
    background-color: rgb(214, 232, 255);
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
}

h1 {
    color: rgb(0, 0, 0);
    text-align: center;
}

header {
    text-align: center;
    border-bottom: 1px solid rgb(0, 0, 0);
    margin-bottom: 20px;
    padding-bottom: 5px;
}

.campo {
    margin-bottom: 15px;
}

.rotulo {
    font-weight: 400;
    display: block;
}

.entrada-texto {
    width: 95%;
    padding: 8px;
    border: 1px solid #000;
}

.entrada-tel:focus {
    background-color: rgb(227, 248, 251);
    width: 95%;
    padding: 8px;
}

.entrada-texto:focus {
    background-color: rgb(227, 248, 251);
}

.campo1 {
    background-color:rgb(214, 232, 255);
    padding: 10px;
}

.opcao-item {
    margin-top: 5px;
}

button.botão {
    width: 100%;
    padding: 10px;
    background-color: blue;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
